.main{
	width:86% !important;
}

.content{
	float:left;
	overflow-y:scroll;
	height:100%;
	padding:15px;
}

.no_trails{
	color:#F56218;
	font-weight:bold;
	font-size:40px;
	margin-left:20px;
	margin-top:20px;
}

.sidebar {
	overflow-y:scroll;
	height: 100%;
}

.sidebar-container {
	overflow-x:visible;
	float:right;
	width:430px;
	height:90%;
	padding:10px;
	border: 1px solid;
	border-radius: 5px;
}

.trail-name {
	font-weight: bold;
 	font-size: 18pt;
 	margin-bottom: 10px;
 	border-bottom: 1px dotted #aaa;
}

.trail-panel {
	margin-bottom: 20px;
	border: 5px solid #aaa;
	/*border-radius: 15px;*/
	cursor: pointer;
	box-shadow: 0px 0px 5px #888;
	background-color: #fff;
}

.trail-panel:hover{
	border: 5px solid #F56218;
}

.trail-panel:hover .trail-name{
	text-decoration: underline;
}

.trail-image{
}

.trail-image:first-child {
  background-size:100% 100%;
}

.trail-image {
  background-size:100% 100%;
  box-shadow: 0 0 20px #000;
  cursor: pointer !important;
}

.trail-image-div {
	width: 65% !important;
	float: left;
}

.trail-summary-div {
	padding-top: 6px;
	padding-right: 6px;
	width: 33%;
	float: right;
}

.trail-length, .trail-difficulty, .trail-terrain, .trail-scenery {
	display: inline;
	float: left;
}
.trail-length, .trail-difficulty, .trail-terrain, .trail-scenery {
	color: #aaa;
	font-style: italic;
}
.trail-length:after,
.trail-difficulty:after,
.trail-terrain:after {
	content: "\00B7";
	margin-left: 4px;
	margin-right: 4px;
}
.trail-explorer:before {
	content: "explored by ";
	font-weight: normal;
	color: #aaa;
	font-style: italic;
}

.trail-description {
	clear:both;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: justify;
}

.trail-explorer {
	float: right;
}


#search{
	padding: 0px !important;
	background-color: #efefef;
    border: 1px solid #3e444c;
    border-radius: 5px;
    color: #606060;
    display:inline-flex;
    width:95%;
}

#search_img{
	width:37px;
}

#search_field{
    font-size: 18px;
	width:85%;
}

.match_attractions{
	display:inline;
}

#length h1 {
	display: inline-block;
}

#length_display {
	display: inline;
}

#length_slider {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#search{
	height:37px;
}

.checkbox_div{
	width:32%;
	display:inline-block;
}



.panel-sub{
	padding-bottom:12px;
}

input#zip{
	width: 60px;
}