* {
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-size: 14pt;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#topbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 60px;
  background-color: #9DC9AC;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}


#topbar .logo_image {
  position: fixed;
  width: 80px;
  margin-left: 125px;
}

#topbar .logo_text {
  position: fixed;
  font-size: 40px;
  font-family: "Lobster", cursive;
  color: rgb(245, 98, 24);
  text-shadow: 0px 0px 4px #000;
}

#topbar .logo {
  float: left;
}

#topbar .username {
  float: right;
  line-height: 60px;
}

#topbar .topbar_main {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.pseudotopbar {
  height: 60px;
  background-color: rgba(157, 201, 172, 0.7);
}

.pseudotopbar .pseudotopbar_main {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  text-align: right;
}

.main {
  padding: 10px;
  width: 86%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.left_col {
  width: 47%;
  float: left;
}

.right_col {
  float:right;
  width: 47%;
}


a, a:visited {
  color: #F56218;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: #FF9D2E;
}

a.button {
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #F56218;
  max-height: 30px;
  border-radius: 30px;
}

img {
  width: 100%;
}



.thumbnail {
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  background-position: 50% 50%;
}

.trail_name {
  font-weight: bold;
  font-size: 36pt;
  margin-bottom: 10px;
  border-bottom: 1px dotted #aaa;
}


.description {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.distance {
  float: left;
}
.attributes {
  float: right;
}
.distance, .attributes {
  font-style: italic;
  color: #aaa;
}

.author {
  font-style: italic;
  color: #aaa;
  text-align: right;
  margin-right: 6px;
  margin-bottom: 6px;
}



.images img {
  margin-bottom: 10px;
}



.subheading {
  font-weight: bold;
  font-size: 24pt;
  margin-bottom: 10px;
  text-align: center;
}


.comment {
  border: 1px solid #aaa;
  border-radius: 15px;
  min-height: 70px;
  margin-bottom: 10px;
  position: relative;
  background-color: #FFFEEE;
}

.comment_text {
  padding: 6px;
  text-align: justify;
  margin-bottom: 24px;
}

.comment_author_image {
  border-radius: 15px;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.comment .author {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.comment textarea {
  border-radius: 15px;
  border: 1px solid #aaa;
  padding: 6px;
  width: calc(100% - 90px);
  height: 40px;
  resize: none;
}
.blank.comment .comment_text {
  margin-bottom: 0px;
}




.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  visibility: hidden;
  opacity: 0;
  z-index: 2000;
  transition: opacity 1s 0, visibility 0 1s;
  border: 1px solid black;
  background-color: white;
}
 
.modal.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0, visibility 0 0;
}

.modal-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background-color: white;
  opacity: 0.5;
  display: none;
}
.modal-mask.is-visible {
  display: block;
}


.bold, .bold:hover {
  font-weight: bold;
  color: black;
  cursor: default;
}

a {
  cursor: pointer;
}
