* {
  font-family: "Trebuchet MS", "Helvetica", sans-serif;
  font-size: 14pt;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e9eaed;
}

#topbar {
  position: fixed;
  top: 0;
  /*z-index: 1000;*/
  height: 60px;
  background-color: #9DC9AC;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  z-index: 15000;
}


#topbar .logo_image {
  position: fixed;
  width: 80px;
  margin-left: 125px;
}

#topbar .logo_text {
  position: fixed;
  font-size: 40px;
  font-family: "Lobster", cursive;
  color: rgb(245, 98, 24);
  text-shadow: 0px 0px 4px #000;
}

#topbar .logo {
  float: left;
}

#topbar .username {
  float: right;
  line-height: 60px;
}

#topbar .topbar_main {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
}

.pseudotopbar {
  height: 60px;
  background-color: rgba(157, 201, 172, 0.7);
}

.pseudotopbar .pseudotopbar_main {
  width: 86%;
  margin-left: auto;
  margin-right: auto;
  line-height: 60px;
  text-align: right;
}

.main {
  padding: 10px;
  width: 100%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.left_col {
  width: 47%;
  float: left;
}

.right_col {
  width: 47%;
  float: right;
}

a, a:visited {
  color: #F56218;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #FF9D2E;
}

a.button {
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #F56218;
  max-height: 30px;
  border-radius: 30px;
}

a.button.disabled {
  color: #ccc;
  border: 1px solid #eee;
  cursor: default;
}

img {
  width: 100%;
}



.thumbnail {
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 150px;
  background-position: 50% 50%;
}

.trail_name {
  font-weight: bold;
  font-size: 36pt;
  padding: 10px;
  padding-top: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
}


.description {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

.distance {
  float: left;
}
.attributes {
  float: right;
}
.distance, .attributes {
  font-style: italic;
  color: #aaa;
}

.author {
  font-style: italic;
  color: #aaa;
  text-align: right;
  margin-right: 6px;
  margin-bottom: 6px;
}



.images img {
  margin-bottom: 10px;
}

.images {
  pointer-events: auto;
}



.subheading {
  font-weight: bold;
  font-size: 24pt;
  margin-bottom: 10px;
  text-align: center;
}


.comment {
  border: 1px solid #888;
  min-height: 70px;
  margin-bottom: 10px;
  position: relative;
  background-color: #FFF;
}

.comment_text {
  padding: 6px;
  text-align: justify;
  margin-bottom: 24px;
}

.comment_author_image {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border-right: 1px solid #888;
}

.comment .author {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.comment textarea {
  border: 1px solid #aaa;
  padding: 6px;
  width: calc(100% - 90px);
  height: 40px;
  resize: none;
}
.blank.comment .comment_text {
  margin-bottom: 0px;
}




.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  /*height: 300px;*/
  visibility: hidden;
  opacity: 0;
  z-index: 20000;
  transition: opacity 1s 0, visibility 0 1s;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
}

#mapwindow {
  width: 360px;
  height: 360px;
}
 
.modal.is-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s 0, visibility 0 0;
}

.modal-mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 19999;
  background-color: #e9eaed;
  opacity: 0.75;
  display: none;
}
.modal-mask.is-visible {
  display: block;
}

.modal .xbutton, .modal .xbutton a {
  text-align: right;
  color: #888;
  font-size: 24pt;
  margin-top: -10px;
}

.modal .xbutton a:hover {
  color: #ccc;
}

.modal input, .modal button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  border: 1px solid #888;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

.modal-wrapper {
  padding: 15px;
}


.bold, .bold:hover {
  font-weight: bold;
  color: black;
  cursor: default;
}

a {
  cursor: pointer;
}


#trail_info_block {
  background-color: #fff;
  width: 70%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  position: relative;
  border: 1px solid #888;
  box-shadow: 0px 2px 2px #888;
  pointer-events: auto;
}

#cover {
  position: relative;
  width: 100%;
  height: 60%;
  overflow: hidden;
}

#cover_image {
  width: 100%;
  position: relative;
  top: -20%;
}

#attributes {
  background-color: #f6f7f8;
  height: 2em;
  position: relative;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

#distance, #difficulty, #terrain, #scenery {
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  top: -0.5em;
}

div.vertical-rule {
  display: inline-block;
  border : 0;
  height : 100%; /*your own value to suit your content*/
  width : 1px;
  background-color: #888;
  /*
  background-image: -webkit-linear-gradient(top, transparent, #888, transparent);
  background-image: -moz-linear-gradient(top, transparent, #888, transparent);
  background-image: -ms-linear-gradient(top, transparent, #888, transparent);
  background-image: -o-linear-gradient(top, transparent, #888, transparent);
  background-image: linear-gradient(top, transparent, #888, transparent);
  */
}

#description {
  width: 55%;
  padding: 1em;
}

#map {
  width: 40%;
  position: absolute;
  bottom: -10%;
  right: 2%;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 5px #888;
}

#map_image {
  width: 100%;
}


#trail_images {
  width: 70%;  
  margin-left: auto;
  margin-right: auto;
}

#fixed_elements {
  position: fixed;
  width: 100%;
  margin-top: 60px;
  z-index: 10;
  pointer-events: none;
}

#scrolling_elements {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


.comments {
  position: relative;
  top: 500px;
  margin-bottom: 20px;
}

.create_attributes{
  padding:10px;
}

.created_attributes{
  display:none;
}

.trail_image {
  width: 150px;
  margin: 5px;
  border: 5px solid rgba(1,1,1,0);
}

.trail_image:hover {
  border: 5px solid #F56218;
}

#images_list a:focus {
  outline: none;
}
