.map, .images, .overview, .description, .comments {
  background-color: #bbb;
    margin: 10px;
    padding: 10px;
}

.map, .images {
  display: inline-block;
}

.map_image, .trail_image {
  height: 200px;
  width: 300px;
  margin: 5px;
}

.author, .distance, .rating, .attributes {
  display: inline-block;
  margin-right: 2em;
  margin-left: 2em;
}

.comment_author_image {
  height: 100px;
}

.comment_author_image, .comment_text {
  display: inline-block;
  vertical-align: top;
}

/* for star rating. from http://code.stephenmorley.org/html-and-css/star-rating-widget/ */
.rating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.rating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.rating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('content/icons/star-off.svg');
  background-size : contain;
}

.rating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('content/icons/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.rating:not(old) > label:hover:before,
.rating:not(old) > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
/* end of star rating styles */